* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #1e1e1e !important;
  color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

body::-webkit-scrollbar{
  display: none;
}
